@font-face {
   font-family: 'DMSans-VariableFont_opsz,wght';
   font-display: swap;
   src: url('file:///Users/juliroll/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2026-06-15_170017/fonts/DMSans-VariableFont_opsz,wght/font.ttf');
}
